@model IEnumerable<UTA.Models.Destination>

@{
  ViewBag.Title = "Tabela Destinacija";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="m-2">Tabela Destinacija</h2>

@Html.ActionLink("Nova Destinacija", "New", "DestinationTable", new { area = "" }, new { @class = "btn btn-primary m-2" })

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Mesto</th>
      <th scope="col">Država</th>
      <th scope="col">Slika</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var destination in Model)
    {
    <tr>
      <th scope="row">@destination.Id</th>
      <td>@destination.Place</td>
      <td>@destination.Country</td>
      <td>@destination.Picture</td>
      <td>@Html.ActionLink("Uredi", "Edit", "DestinationTable", new { area = "", id = destination.Id }, new { @class = "btn btn-primary" })</td>
      <td>@Html.ActionLink("Obriši", "Delete", "DestinationTable", new { area = "", id = destination.Id }, new { @class = "btn btn-primary" })</td>
    </tr>
    }
  </tbody>
</table>