@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
  using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
  {
    @Html.AntiForgeryToken()

  <ul class="navbar-nav">
    <li class="nav-item">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Baza podataka
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          @Html.ActionLink("Agencije", "Index", "AgencyTable", new { area = "" }, new { @class = "dropdown-item" })
          @Html.ActionLink("Aranžmani", "Index", "ArrangementTable", new { area = "" }, new { @class = "dropdown-item" })
          @Html.ActionLink("Destinacije", "Index", "DestinationTable", new { area = "" }, new { @class = "dropdown-item" })
          @Html.ActionLink("Tipovi aranžmana", "Index", "ArrangementTypeTable", new { area = "" }, new { @class = "dropdown-item" })
          @Html.ActionLink("Vrste prevoza", "Index", "TransportationTypeTable", new { area = "" }, new { @class = "dropdown-item" })
          @Html.ActionLink("Usluge", "Index", "ServiceTable", new { area = "" }, new { @class = "dropdown-item" })
          @Html.ActionLink("Aranžmani - Vrste prevoza", "Index", "ArrangementTransportationTypeTable", new { area = "" }, new { @class = "dropdown-item" })
          @Html.ActionLink("Aranžmani - Usluge", "Index", "ArrangementServiceTable", new { area = "" }, new { @class = "dropdown-item" })
        </div>
      </div>
    </li>
    <!--li class="nav-item">
    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
  </li-->
    <li class="nav-item">@Html.ActionLink("Promenite lozinku", "ChangePassword", "Manage", new { area = "" }, new { @class = "nav-link" })</li>
    <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Izlogujte se</a></li>
  </ul>
  }
}
else
{
    <ul class="navbar-nav">
        <!--li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li-->
        <li class="nav-item">@Html.ActionLink("Administracija", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
