@model IEnumerable<UTA.Models.TransportationType>

@{
  ViewBag.Title = "Tabela Vrsta Prevoza";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

  <h2 class="m-2">Tabela Vrsta Prevoza</h2>

@Html.ActionLink("Nova vrsta prevoza", "New", "TransportationTypeTable", new { area = "" }, new { @class = "btn btn-primary m-2" })

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Vrsta prevoza</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var transportationType in Model)
    {
      <tr>
        <th scope="row">@transportationType.Id</th>
        <td>@transportationType.Name</td>
        <td>@Html.ActionLink("Uredi", "Edit", "TransportationTypeTable", new { area = "", id = transportationType.Id }, new { @class = "btn btn-primary" })</td>
        <td>@Html.ActionLink("Obriši", "Delete", "TransportationTypeTable", new { area = "", id = transportationType.Id }, new { @class = "btn btn-primary" })</td>
      </tr>
    }
  </tbody>
</table>