@model UTA.ViewModels.HomeViewModel

@{
  ViewBag.Title = "Naslovna Strana";
}

<h2 class="m-2">Turističke Agencije</h2>

<div class="d-flex flex-wrap">
  @foreach (var agency in Model.Agencies) {
    <div class="card m-2" style="width: 18rem;">
      <img src="~/Content/Logos/@agency.Logo" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">@agency.Name</h5>
        <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
        @Html.ActionLink("Detalji", "Details", "Agencies", new { id = agency.Id}, new { @class = "btn btn-primary"})
      </div>
    </div>
  }
</div>

<h2 class="m-2">Aranžmani</h2>

<div class="d-flex flex-wrap">
  @foreach (var arrangement in Model.Arrangements) {
    <div class="card m-2" style="width: 18rem;">
      <img src="~/Content/Images/@arrangement.Destination.Picture" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">@arrangement.Destination.Place</h5>
        <p class="card-text">@arrangement.Agency.Name</p>
        @Html.ActionLink("Detalji", "Details", "Arrangements", new { id = arrangement.Id }, new { @class = "btn btn-primary" })
      </div>
    </div>
  }
</div>
