@model IEnumerable<UTA.Models.ArrangementService>

@{
  ViewBag.Title = "Tabela Aranžmani - Usluge";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="m-2">Tabela Aranžmani - Usluge</h2>

@Html.ActionLink("Novi aranžman - usluga", "New", "ArrangementServiceTable", new { area = "" }, new { @class = "btn btn-primary m-2" })

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Id aranžmana</th>
      <th scope="col">Id usluge</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var arrangementService in Model)
    {
      <tr>
        <th scope="row">@arrangementService.Id</th>
        <td>@Html.ActionLink(arrangementService.ArrangementId.ToString(), "Edit", "ArrangementTable", new { area = "", id = arrangementService.ArrangementId }, new { @class = "btn btn-primary" })</td>
        <td>@Html.ActionLink(arrangementService.ServiceId.ToString(), "Edit", "ServiceTable", new { area = "", id = arrangementService.ServiceId }, new { @class = "btn btn-primary" })</td>
        <td>@Html.ActionLink("Uredi", "Edit", "ArrangementServiceTable", new { area = "", id = arrangementService.Id }, new { @class = "btn btn-primary" })</td>
        <td>@Html.ActionLink("Obriši", "Delete", "ArrangementServiceTable", new { area = "", id = arrangementService.Id }, new { @class = "btn btn-primary" })</td>
      </tr>
    }
  </tbody>
</table>