@model IEnumerable<UTA.ViewModels.ArrangementViewModel>

@{
  ViewBag.Title = "Tabela Aranžmani";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="m-2">Tabela Aranžmani</h2>

@Html.ActionLink("Novi Aranžman", "New", "ArrangementTable", new { area = "" }, new { @class = "btn btn-primary m-2" })

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Id agencije</th>
      <th scope="col">Id destinacije</th>
      <th scope="col">Opis aranžmana</th>
      <th scope="col">Id tipa aranžmana</th>
      <th scope="col" class="text-light bg-secondary">Id prevoza</th>
      <th scope="col" class="text-light bg-secondary">Id usluge</th>
      <th scope="col">Broj dana</th>
      <th scope="col">Broj noćenja</th>
      <th scope="col">Cena</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var arrangement in Model)
    {
    <tr>
      <th scope="row">@arrangement.Id</th>
      <td>@Html.ActionLink(arrangement.Agency.Id.ToString(), "Edit", "AgencyTable", new { area = "", id = arrangement.Agency.Id }, new { @class = "btn btn-primary" })</td>
      <td>@Html.ActionLink(arrangement.Destination.Id.ToString(), "Edit", "DestinationTable", new { area = "", id = arrangement.Destination.Id }, new { @class = "btn btn-primary" })</td>
      <td>@arrangement.Description.Substring(0, 50) ...</td>
      <td>@Html.ActionLink(arrangement.ArrangementType.Id.ToString(), "Edit", "ArrangementTypeTable", new { area = "", id = arrangement.ArrangementType.Id }, new { @class = "btn btn-primary" })</td>
      <td class="bg-secondary">
        @foreach (var transportationType in arrangement.TransportationTypes)
        {
          @Html.ActionLink(transportationType.Id.ToString(), "Edit", "TransportationTypeTable", new { area = "", id = transportationType.Id }, new { @class = "btn btn-light mb-2" })
        }
      </td>
      <td class="bg-secondary">
        @foreach (var service in arrangement.Services)
        {
          @Html.ActionLink(service.Id.ToString(), "Edit", "ServiceTable", new { area = "", id = service.Id }, new { @class = "btn btn-light mb-2" })
        }
      </td>
      <td>@arrangement.StayDays</td>
      <td>@arrangement.StayNights</td>
      <td>@arrangement.Price</td>
      <td>@Html.ActionLink("Uredi", "Edit", "ArrangementTable", new { area = "", id = arrangement.Id }, new { @class = "btn btn-primary" })</td>
      <td>@Html.ActionLink("Obriši", "Delete", "ArrangementTable", new { area = "", id = arrangement.Id }, new { @class = "btn btn-primary" })</td>
    </tr>
    }
  </tbody>
</table>