@model UTA.ViewModels.ArrangementViewModel

@{
  ViewBag.Title = "ArrangementForm";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="m-2">Uredi Aranžman</h2>

@using (Html.BeginForm("Save", "Arrangements"))
{
  <div class="form-group">
    @Html.LabelFor(a => a.DestinationId)
    @Html.DropDownListFor(a => a.DestinationId, new SelectList(Model.Destinations, "Id", "Place"), "", new { @class = "form-control" })
  </div>
  <div class="form-group">
    @Html.LabelFor(a => a.Description)
    @Html.TextBoxFor(a => a.Description, "", new { @class = "form-control" })
  </div>
  <div class="form-group">
    @Html.LabelFor(a => a.ArrangementTypeId)
    @Html.DropDownListFor(a => a.ArrangementTypeId, new SelectList(Model.ArrangementTypes, "Id", "Name"), "", new { @class = "form-control" })
  </div>
  <div class="form-group">
    @Html.LabelFor(a => a.TransportationTypeId)
    @Html.DropDownListFor(a => a.TransportationTypeId, new SelectList(Model.TransportationTypes, "Id", "Name"), "", new { @class = "form-control" })
  </div>
  <div class="form-group">
    @Html.LabelFor(a => a.ServiceId)
    @Html.DropDownListFor(a => a.ServiceId, new SelectList(Model.Services, "Id", "Name"), "", new { @class = "form-control" })
  </div>
  <div class="form-group">
    @Html.LabelFor(a => a.StayDays)
    @Html.TextBoxFor(a => a.StayDays, "", new { @class = "form-control" })
  </div>
  <div class="form-group">
    @Html.LabelFor(a => a.StayNights)
    @Html.TextBoxFor(a => a.StayNights, "", new { @class = "form-control" })
  </div>
  <div class="form-group">
    @Html.LabelFor(a => a.Price)
    @Html.TextBoxFor(a => a.Price, "", new { @class = "form-control" })
  </div>
  <button type="submit" class="btn btn-primary">Sačuvaj</button>
}
