@model UTA.ViewModels.ArrangementViewModel

@{
    ViewBag.Title = Model.Destination.Place;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="m-2">@Model.Destination.Place</h2>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-8">
      <img src="~/Content/Images/@Model.Destination.Picture" class="card-img" alt="...">
    </div>
    <div class="col-md-4">
      <div class="row no-gutters m-2">
        <h1>@Model.StayDays</h1> dana
      </div>
      <div class="row no-gutters m-2">
        <h1>@Model.StayNights</h1> noćenja
      </div>
      <div class="row no-gutters m-2">
        <h1>@Model.Price€</h1>
      </div>
    </div>
    <div class="row no-gutters container m-2">
      <div class="col text-center m-1">
        <h6>Tip aranžmana</h6>
        <p class="list-group-item">@Model.ArrangementType.Name</p>
      </div>
      <div class="col text-center m-1">
        <h6>Usluga</h6>
        <ul class="list-group">
          @foreach (var service in Model.Services)
          {
            <li class="list-group-item">@service.Name</li>
          }
        </ul>
      </div>
      <div class="col text-center m-1">
        <h6>Prevoz</h6>
        <ul class="list-group">
          @foreach(var transportationType in Model.TransportationTypes)
          {
            <li class="list-group-item">@transportationType.Name</li>
          }
        </ul>
      </div>
    </div>
    <div class="row no-gutters">
      @Html.ActionLink(Model.Agency.Name, "Details", "Agencies", new { area = "", id = Model.Agency.Id }, new { @class = "btn btn-primary m-2" })
    </div>
    <div class="row no-gutters">
      <div class="card-body">
        <h5 class="card-title">Opis aranžmana</h5>
        <p class="card-text">@Model.Description</p>
      </div>
    </div>
  </div>
</div>